# <center> Data Structure Basic

## Jupyter notebook

<img src = "https://github.com/saeed-saffari/alzahra-workshop-spr2021/blob/main/lecture/jupyter.png?raw=true">

In [19]:
# kernels

In [13]:
# hotkey

In [17]:
x = 3 # second number

In [18]:
y = 4 # first number
# comment

In [15]:
# markdown

In [20]:
# Hi, This is python course.

Hi, This is python course.

$ \alpha = \beta = \frac{\beta}{\sqrt{\theta}} $

# <center> Basic

In [21]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Arithmetic Operators
| Symbol | Task Performed |
|:----:|:---:|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [29]:
2 + 4

6

In [30]:
6 - 4

2

In [34]:
5 * 3
6 * 4

24

In [33]:
5 / 3

1.6666666666666667

In [35]:
5 % 3

2

In [36]:
5 // 3

1

In [39]:
4 ** 3

64

In [40]:
5 + (4 - 3 * 2) ** 3 + 1

-2

In [41]:
a = 5 + (4 - 3 * 2) ** 3 + 1

In [42]:
a

-2

In [43]:
a + 2

0

In [49]:
a = 100
a = 90
a = a*2
a = a - 15
# a = 10
a

165

In [50]:
x = 2
y = 5

In [53]:
print(x * y)

10

In [54]:
print(x * y)
print(x - y)
print(x + y)
print(x % y)
print(x // y)
print(x / y)

10
-3
7
2
0
0.4

## Relational Operators

| Symbol | Task Performed |
|:----:  |:---:|
|=	     |Assignment|
|==      |True, if it is equal|
|!=      |True, if not equal to|
|<	     |less than|
|>	     |greater than|
|<=      |less than or equal to|
|>=      |greater than or equal to|

In [66]:
x = 3
y = 7

In [71]:
print(x==y)
print(x!=y)
print(x ==2)
print(x ==3)

False
True
False
True

In [75]:
print(x>y)
print(x<y)
print(x<3)
print(x<=3)

False
True
False
True

In [80]:
x > 1 and y > 10

False

In [82]:
x > 1 or y > 10

True

In [83]:
1 < x < 5

True

## Type
| Types | Example |
| :--: | :--: |
| string | "Hello" ,  'World' |
| integer | 1 , 2 , 3 |
| float | 1.2 , 4.6 , 112.6 |
| boolian | True , Flase |

In [84]:
type

type

In [91]:
print(type("Economics"))
print(type(2))
print(type(-1.7))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [94]:
x = 1.3
type(x)

float

In [98]:
type(1.9)
int(1.9) * 2

2

In [104]:
type(2)
float(2) * 4

8.0

In [106]:
str(1) * 3

'111'

In [107]:
b = 'pyhton course'
print(b)

pyhton course

In [108]:
b.capitalize()

'Pyhton course'

In [109]:
b.capitalize()

'Pyhton course'

In [111]:
c1 = 'Hi, this is python course.'
c2 = "It's good to see you hear!"

print(c1)
print(c2)

Hi, this is python course.
It's good to see you hear!

In [117]:
c1.count('i')

3

In [121]:
c1.find('t')

4

In [120]:
c1.find('H')

0

In [123]:
c3 = c1.upper()
print(c3)

#lower

HI, THIS IS PYTHON COURSE.

In [124]:
c1

'Hi, this is python course.'

In [125]:
c1.replace('H', 'P')

'Pi, this is python course.'

In [127]:
c1.replace('i', 'Z')

'HZ, thZs Zs python course.'

In [131]:
s1 = 'abc'
s2 = 'bbb'

In [134]:
s1 * 2

'abcabc'

In [135]:
s1 + s2

'abcbbb'

In [137]:
s1 + str(4)

'abc4'

In [138]:
s1 + '4'

'abc4'

In [139]:
2 + 4.5

6.5

## List

## Dictionary

#### Other type

In [148]:
#tuple
set

set