# <center> Data Structure Basic

## Jupyter notebook

<img src = "https://github.com/saeed-saffari/alzahra-workshop-spr2021/blob/main/lecture/jupyter.png?raw=true">

In [19]:
# kernels

In [13]:
# hotkey

In [17]:
x = 3 # second number

In [18]:
y = 4 # first number
# comment

In [15]:
# markdown

In [20]:
# Hi, This is python course.

Hi, This is python course.

$ \alpha = \beta = \frac{\beta}{\sqrt{\theta}} $

# <center> Basic

In [21]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Arithmetic Operators
| Symbol | Task Performed |
|:----:|:---:|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [29]:
2 + 4

6

In [30]:
6 - 4

2

In [34]:
5 * 3
6 * 4

24

In [33]:
5 / 3

1.6666666666666667

In [35]:
5 % 3

2

In [36]:
5 // 3

1

In [39]:
4 ** 3

64

In [40]:
5 + (4 - 3 * 2) ** 3 + 1

-2

In [41]:
a = 5 + (4 - 3 * 2) ** 3 + 1

In [42]:
a

-2

In [43]:
a + 2

0

In [49]:
a = 100
a = 90
a = a*2
a = a - 15
# a = 10
a

165

In [50]:
x = 2
y = 5

In [53]:
print(x * y)

10

In [54]:
print(x * y)
print(x - y)
print(x + y)
print(x % y)
print(x // y)
print(x / y)

10
-3
7
2
0
0.4

## Relational Operators

| Symbol | Task Performed |
|:----:  |:---:|
|=	     |Assignment|
|==      |True, if it is equal|
|!=      |True, if not equal to|
|<	     |less than|
|>	     |greater than|
|<=      |less than or equal to|
|>=      |greater than or equal to|

In [2]:
x = 3
y = 7

In [71]:
print(x==y)
print(x!=y)
print(x ==2)
print(x ==3)

False
True
False
True

In [75]:
print(x>y)
print(x<y)
print(x<3)
print(x<=3)

False
True
False
True

In [80]:
x > 1 and y > 10

False

In [82]:
x > 1 or y > 10

True

In [3]:
1 < x < 5

True

In [4]:
type(1 < x < 5)

bool

In [5]:
type(x)

int

## Type
| Types | Example |
| :--: | :--: |
| string | "Hello" ,  'World' |
| integer | 1 , 2 , 3 |
| float | 1.2 , 4.6 , 112.6 |
| boolian | True , Flase |

In [84]:
type

type

In [91]:
print(type("Economics"))
print(type(2))
print(type(-1.7))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [94]:
x = 1.3
type(x)

float

In [98]:
type(1.9)
int(1.9) * 2

2

In [104]:
type(2)
float(2) * 4

8.0

In [106]:
str(1) * 3

'111'

In [107]:
b = 'pyhton course'
print(b)

pyhton course

In [108]:
b.capitalize()

'Pyhton course'

In [109]:
b.capitalize()

'Pyhton course'

In [111]:
c1 = 'Hi, this is python course.'
c2 = "It's good to see you hear!"

print(c1)
print(c2)

Hi, this is python course.
It's good to see you hear!

In [117]:
c1.count('i')

3

In [121]:
c1.find('t')

4

In [120]:
c1.find('H')

0

In [123]:
c3 = c1.upper()
print(c3)

#lower

HI, THIS IS PYTHON COURSE.

In [124]:
c1

'Hi, this is python course.'

In [125]:
c1.replace('H', 'P')

'Pi, this is python course.'

In [127]:
c1.replace('i', 'Z')

'HZ, thZs Zs python course.'

In [6]:
s1 = 'abc'
s2 = 'bbb'

In [134]:
s1 * 2

'abcabc'

In [135]:
s1 + s2

'abcbbb'

In [7]:
s1 + 4

TypeError: can only concatenate str (not "int") to str

In [137]:
s1 + str(4)

'abc4'

In [138]:
s1 + '4'

'abc4'

In [139]:
2 + 4.5

6.5

In [9]:
2+ 4.0

6.0

## List

In [12]:
print(type([]))
print(type([1]))

<class 'list'>
<class 'list'>

In [14]:
x = [1,2,3,4,5,6,7,8,9,10]
type(x)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
x[4]

5

In [19]:
x[-3]

8

In [21]:
x[3:6]

[4, 5, 6]

In [22]:
x[4:-1]

[5, 6, 7, 8, 9]

In [23]:
x[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
x[:4]

[1, 2, 3, 4]

In [26]:
x[2:8]

[3, 4, 5, 6, 7, 8]

In [27]:
# [<begin>:<end>:<step>]
x[2:8:2]

[3, 5, 7]

In [28]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
x * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
x ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [32]:
x + [4]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [36]:
x = [1,2,3,4]
x

[1, 2, 3, 4]

In [37]:
x.append(5)

In [38]:
x

[1, 2, 3, 4, 5]

In [40]:
x.clear()

In [41]:
x

[]

In [56]:
x = [1,2,3,4,5,6]
x

[1, 2, 3, 4, 5, 6]

In [44]:
# remove
# pop

In [57]:
x

[1, 2, 3, 4, 5, 6]

In [58]:
x.remove(2) # number
x

[1, 3, 4, 5, 6]

In [46]:
x.pop(2) # index

4

In [47]:
x

[2, 3, 5, 6]

In [50]:
x.reverse()
x

[6, 5, 3, 2]

In [54]:
x = 2
y = x ** 2
print(y)

4

In [55]:
print(y)

4

## Dictionary

In [60]:
type({})

dict

In [62]:
score = { 'math' : 19 , 'lit' : 17, 'gio' : 14}

In [65]:
print(score)

{'math': 19, 'lit': 17, 'gio': 14}

In [64]:
type(score)

dict

In [66]:
x = [1,2,3,4]
x[2]

3

In [68]:
score['lit']

17

In [70]:
score['math']

19

In [71]:
score.keys()

dict_keys(['math', 'lit', 'gio'])

In [72]:
score.values()

dict_values([19, 17, 14])

In [73]:
score['lit'] > 16

True

#### Other type

In [76]:
#tuple
#set

In [77]:
v = (1,2,3,4)
print(v)

(1, 2, 3, 4)

In [78]:
type(v)

tuple

In [79]:
v[2]

3

In [86]:
a = float(input("Enter your number: "))
print(a)

Enter your number: 12
12.0

In [87]:
type(a)

float

# Execises:

## 3

In [99]:
a = float(input("Your first number: "))
b = float(input("Your second number: "))
c = float(input("Your third number: "))

summ = a + b + c
ave = summ / 3

print(ave)

Your first number: 23
Your second number: 45
Your third number: -24
14.666666666666666

In [89]:
print('The average of these number are:', ave)

The average of these number are: 30.566666666666666

In [90]:
type(ave)

float

In [91]:
print('The average of these number are: ' + str(ave))

The average of these number are: 30.566666666666666

# 4

In [92]:
seconds = 60
minuse = 60
hours = 24
days = 30

In [98]:
total_second = seconds * minuse * hours * days
total_minuts = minuse * hours * days
total_hours = hours * days

print('Each month is equals to', total_second, 'seconds.')
print('Each month is equals to', total_minuts, 'minuts.')
print('Each month is equals to', total_hours, 'hours.')
print('Each month is equals to', days, 'days.')

Each month is equals to 2592000 seconds.
Each month is equals to 43200 minuts.
Each month is equals to 720 hours.
Each month is equals to 30 days.