# Q1

In [4]:
Dict = {'data1': -10, 
        'data2': 300,
        'data3': 239}
print(Dict)

{'data1': -10, 'data2': 300, 'data3': 239}

In [6]:
Dict.values()

dict_values([-10, 300, 239])

In [7]:
summation = sum(Dict.values())
summation

529

In [11]:
print('The sum of all elements of Dict is', summation)

The sum of all elements of Dict is 529

In [17]:
print('The sum of all elements of Dict is ' + str(summation))

The sum of all elements of Dict is 529

In [15]:
print('The sum of all elements of Dict is {}.'.format(summation))

The sum of all elements of Dict is 529.

In [18]:
print('The sum of all elements of Dict is ' + str(-10+300+239))

The sum of all elements of Dict is 529

# Q2

In [19]:
my_list = ['c' , 'o' , 'm' , 'p' , 'u' , 't', 'e', 'r']
my_course = "(Computer for Economics)"

In [22]:
my_list[3]

'p'

In [23]:
part_1 = my_list[0] + my_list[2] + my_list[3]
print(part_1)

cmp

In [28]:
type(part_1)

str

In [25]:
part_1 = part_1.upper()
print(part_1)

CMP

In [26]:
new = part_1 + my_course
print(new)

CMP(Computer for Economics)

In [27]:
print('The final output is: {}'.format(new))

The final output is: CMP(Computer for Economics)

In [29]:
my_list

['c', 'o', 'm', 'p', 'u', 't', 'e', 'r']

In [30]:
my_list.remove('o')

In [32]:
my_list.remove('u')

In [33]:
my_list.remove('t')

In [34]:
my_list.remove('e')

In [35]:
my_list.remove('r')

In [36]:
my_list

['c', 'm', 'p']

In [37]:
type(my_list)

list

# Q3

In [51]:
first_number  = float(input('Enter first number: '))
second_number = float(input('Enter second number: '))
third_number  = float(input('Enter third number: '))

sum_1 = first_number + second_number + third_number

average = sum_1 / 3

print('The average of {}, {} and {} is {:1.2f}.'.format(first_number, second_number, third_number, average))

Enter first number: 12.4
Enter second number: 24.7
Enter third number: -13
The average of 12.4, 24.7 and -13.0 is 8.03.

# Q4

In [42]:
day = 30.             # number of days in one month
hour = day * 24.      # Hourse in one month
minute = hour * 60.   # minute in one month
second = minute * 60  # Second in one month

print("One month (30 days) is equals to {} hours or {} minutes or {} seconds.".format(hour, minute, second))

One month (30 days) is equals to 720.0 hours or 43200.0 minutes or 2592000.0 seconds.

# Q5

In [45]:
h = int(input("Enter hours: "))             # input

hr = h %  24               # Hours.   باقی مانده
d  = h // 24               # Total pure days.   خارج قسمت

dr = d %  7                # Days. باقی مانده
w  = d // 7                # Weeks  خارج قسمت

print("{} is equals to {} weeks and {} days and {} hours.".format(h, w, dr, hr))

Enter hours: 2467
2467 is equals to 14 weeks and 4 days and 19 hours.